/* 2-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
  } */

/* 3-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* body {
  padding: 16px;
  text-align: center;
} */
/* 5-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.register-form button {
  padding: 12px;
} */

/* 6-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.log-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px;
  margin-top: 16px;
}

.log-item {
  position: relative;
  padding: 8px;
  border: 1px dashed #2a2a2a;
  border-radius: 4px;
  font-size: 16px;
  font-family: monospace;
}

.log-item > .chip {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.log-list li:not(:last-child) {
  margin-bottom: 4px;
}

button {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
} */

/* 7-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
} */

/* change-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* body {
  margin: 16px;
}

select {
  padding: 4px;
} */

/* 7-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



/* 7-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



/* 7-&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */